#container {
  display: flex;
  width: 400px;
  height: 600px;
  margin: auto;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  border: 1px solid rgb(41, 43, 43);
  border-radius: 5px;
}

#left {
  display: flex;
  flex-direction: column;
  float: left;
  align-items: center;
}

#addBtn {
  float: left;
  margin: 10px;
  padding: 10px;
  display: block;
  border-radius: 3px;
}

#total {
  float: left;
  width: 100px;
  text-align: center;
  display: block;
}

.card {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 340px;
  height: 120px;
  min-height: 120px;
  margin: 10px;
  color: rgb(41, 43, 43);
  background-color: white;
  border: 1px solid lightslategray;
  border-radius: 12px;
  box-shadow: 8px 8px 10px lightslategray;
}

.cardfooter {
  display: block;
  width: 280px;
}

.remove {
  padding: 3px;
  font-size: 10pt;
  float: right;
  border-radius: 3px;
}

.remove:hover {
  background-color: rgb(218, 216, 216);
  cursor: default;
}

#cardyear {
  display: inline-block;
}

.card > div {
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

#cardtitle {
  font-size: 1.5em;
}

#modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

#addBook {
  width: 300px;
  height: 360px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.input {
  margin: 20px;
}

#submit {
  padding: 10px;
  margin: 10px;
}
